*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
/.idea/dictionaries
/.idea/gradle.xml
/.idea/jarRepositories.xml
/classes
/kotlin
/tools/tokens
strings.xlsx
/app/src/halloapp/google-services.json
/app/src/katchup/google-services.json
/app/src/halloapp/agconnect-services.json
sentry.properties
