<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.halloapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <package android:name="com.whatsapp" />
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" android:host="*" />
        </intent>
    </queries>

    <queries>
        <package android:name="com.instagram.android" />
    </queries>

    <queries>
        <package android:name="com.snapchat.android" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SplashNoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".katchup.SelfiePostComposerActivity"
            android:theme="@style/AppTheme.Camera"
            android:screenOrientation="portrait" />

        <activity
            android:name=".katchup.ViewKatchupCommentsActivity"
            android:theme="@style/AppTheme.Black.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".RegistrationVerificationActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name=".RegistrationRequestActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".katchup.ViewKatchupProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                pathAdvancedPattern is only supported since API 31, so we have to manually list
                possible username prefixes to exclude things under /w/; otherwise below API 31 the
                app intercepts intents to view the terms of service and privacy policy. See
                requirements for usernames used to derive these patterns at the spec here:
                https://github.com/HalloAppInc/server/blob/master/doc/katchup/user_name.md
                -->
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/a" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/b" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/c" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/d" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/e" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/f" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/g" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/h" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/i" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/j" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/k" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/l" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/m" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/n" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/o" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/p" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/q" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/r" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/s" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/t" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/u" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/v" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wa" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wb" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wc" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wd" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/we" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wf" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wg" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wh" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wi" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wj" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wk" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wl" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wm" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wn" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wo" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wp" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wq" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wr" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/ws" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wt" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wu" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wv" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/ww" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wx" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wy" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/wz" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w_" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w." />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w0" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w1" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w2" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w3" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w4" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w5" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w6" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w7" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w8" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/w9" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/x" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/y" />
                <data android:scheme="http" android:host="katchup.com" android:pathPrefix="/z" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/a" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/b" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/c" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/d" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/e" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/f" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/g" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/h" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/i" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/j" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/k" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/l" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/m" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/n" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/o" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/p" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/q" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/r" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/s" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/t" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/u" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/v" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wa" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wb" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wc" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wd" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/we" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wf" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wg" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wh" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wi" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wj" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wk" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wl" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wm" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wn" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wo" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wp" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wq" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wr" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/ws" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wt" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wu" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wv" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/ww" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wx" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wy" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/wz" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w_" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w." />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w0" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w1" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w2" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w3" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w4" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w5" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w6" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w7" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w8" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/w9" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/x" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/y" />
                <data android:scheme="https" android:host="katchup.com" android:pathPrefix="/z" />
            </intent-filter>

        </activity>

        <activity
            android:name=".katchup.ArchiveActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".katchup.SetupNameProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".katchup.SetupUsernameProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".katchup.ContactsAndLocationAccessActivity"
            android:label=""
            android:theme="@style/AppTheme.ContactsAndLocationAccess"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".katchup.OnboardingFollowingActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".katchup.GetStartedActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.InitialSyncActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity android:name=".katchup.ReportActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity
            android:name=".katchup.AppExpirationActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".katchup.ProfileEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".katchup.ProfilePictureCameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".katchup.ProfilePictureCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".katchup.ProfileBioEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".katchup.ProfileLinksActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".katchup.ProfileLinkEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".katchup.SettingsActivity"
            android:theme="@style/AppTheme.Black.NoActionBar" />

        <!-- Disabling Sentry by setting empty DSN until we have picked a new package name -->
        <meta-data android:name="io.sentry.dsn" android:value="" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="0.1" />
        <meta-data android:name="io.sentry.auto-init" android:value="false" />

        <provider
            android:name=".util.logs.LogProvider"
            android:authorities="com.halloapp.katchup.util.logs.LogProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <receiver
            android:name=".katchup.Notifications$DeleteMomentNotificationReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".katchup.Notifications$DeleteScreenshotNotificationReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".katchup.Notifications$DeleteReactionNotificationReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".registration.SmsVerificationReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.halloapp.katchup.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
        </provider>

        <service
            android:name=".PushMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <service android:name=".HuaweiMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

    </application>

</manifest>
