<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.halloapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.whatsapp" />
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" android:host="*" />
        </intent>
    </queries>

    <queries>
        <package android:name="com.instagram.android" />
    </queries>
    <queries>
        <package android:name="com.snapchat.android" />
    </queries>

    <!-- Requried for HMS Push Kit starting with Android API 30 -->
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SplashScreen"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LowStorageActivity"
            android:label=""/>

        <activity android:name=".ui.DeletionConfirmationActivity"
            android:label=""/>

        <activity android:name=".ui.groups.GroupInviteLinkQrActivity"
            android:label=""/>

        <activity
            android:name=".RegistrationVerificationActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name=".RegistrationRequestActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.profile.SetupProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.InitialSyncActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity android:name=".ui.chat.chat.ChatActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Chat"
            android:label=""
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.calling.calling.CallActivity"
            android:label="@string/call_title"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:taskAffinity="com.halloapp.calling"
            tools:targetApi="n" />

        <activity android:name=".ui.chat.chat.KeyVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity android:name=".ui.groups.CreateGroupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/new_group_title"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>

        <activity
            android:name=".ui.contacts.ContactsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/select_contact"/>

        <activity android:name=".ui.contacts.FirstPostOnboardActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.contacts.EditFavoritesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.contacts.ViewMyContactsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/my_contacts_title"/>

        <activity
            android:name=".ui.contacts.SelectDeviceContactActivity"
            android:theme="@style/AppTheme"
            android:label="@string/my_contacts_title"/>

        <activity
            android:name=".ui.contacts.CreateContactCardActivity"
            android:theme="@style/AppTheme.ContactCard"
            android:label="@string/share_contact_title"/>

        <activity
            android:name=".ui.contacts.ViewContactCardActivity"
            android:theme="@style/AppTheme.ContactCard"
            android:label="@string/view_contact_card_title"/>

        <activity
            android:name=".ui.ComposeShareDestinationActivity"
            android:theme="@style/AppTheme"
            android:label="@string/send_to"/>

        <activity
            android:name=".ui.SharePrivacyActivity"
            android:theme="@style/AppTheme"
            android:label="@string/share_with"/>

        <activity
            android:name=".ui.GroupsInCommonActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/groups_in_common"/>

        <activity android:name=".ui.calling.calling.ExternalContactCallActivity"
            android:excludeFromRecents="true"
            android:permission="android.permission.CALL_PHONE"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.halloapp.call" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.chat.chat.ExternalContactChatActivity"
            android:excludeFromRecents="true"
            android:permission="android.permission.CALL_PHONE"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.halloapp.message" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.contacts.MultipleContactPickerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.contacts.ViewMyNetworkActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.groups.GroupCreationPickerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.privacy.BlockListActivity"
            android:label="@string/settings_block_list"/>

        <activity
            android:name=".ui.privacy.FeedPrivacyActivity"
            android:label="@string/settings_feed_privacy"/>

        <activity
            android:name=".ui.ViewMyPostsActivity"
            android:label=""/>

        <activity
            android:name=".ui.chat.chat.MessageInfoActivity"
            android:theme="@style/AppTheme"
            android:label="@string/message_info"/>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"/>

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about_title"/>

        <activity
            android:name=".ui.archive.ArchiveActivity"
            android:label="@string/archive"/>

        <activity
            android:name=".ui.profile.ViewProfileActivity" />

        <activity
            android:name=".ui.profile.MyProfileActivity" />

        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/help"/>

        <activity
            android:name=".ui.AccountActivity"
            android:label="@string/settings_account"/>

        <activity
            android:name=".ui.ExportDataActivity"
            android:label="@string/request_data_title"/>

        <activity
            android:name=".ui.DeleteAccountActivity"
            android:label="@string/delete_account_title"/>

        <activity
            android:name=".ui.groups.ViewGroupFeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.groups.FeedGroupInfoActivity"
            android:label="@string/group_info_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.groups.ChatGroupInfoActivity"
            android:label="@string/group_info_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:theme="@style/AppTheme.GroupBackground"
            android:name=".ui.groups.GroupBackgroundActivity"
            android:label="@string/group_background_hint" />

        <activity
            android:name=".ui.groups.EditGroupActivity" />

        <activity
            android:name=".ui.groups.EditGroupDescriptionActivity" />

        <activity
            android:name=".DebugActivity" />

        <activity
            android:name=".DebugStorageActivity"/>

        <activity
            android:name=".StorageUsageActivity"
            android:label="@string/storage_usage_title"/>

        <activity
            android:name=".ui.LinkAccountActivity"
            android:label="@string/link_accounts"/>

        <activity
            android:name=".ui.contacts.ViewFriendsListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/friends"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.invites.InviteContactsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/invite_title"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.groups.GroupInviteLinkActivity"
            android:theme="@style/AppTheme"
            android:label="@string/invite_link_title"
            android:windowSoftInputMode="stateUnchanged|adjustResize"/>

        <activity
            android:name=".ui.ContentComposerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.MomentComposerActivity"
            android:theme="@style/AppTheme.Black.NoActionBar"/>

        <activity
            android:name=".ui.MomentViewerActivity"
            android:theme="@style/AppTheme.MomentsViewer"/>
        <activity
            android:name=".ui.share.ForwardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.share.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.groups.ViewGroupInviteLinkActivity"
            android:label="@string/invite_link_title"
            android:theme="@style/AppTheme.Transparent"
            android:exported="true">
            <intent-filter android:autoVerify="true" tools:ignore="UnusedAttribute" android:label="@string/view_group_invite_link_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="halloapp.com"
                    android:pathPrefix="/invite"/>
                <data android:scheme="https"
                    android:host="halloapp.com"
                    android:pathPrefix="/invite"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ViewExternalPostActivity"
            android:theme="@style/AppTheme.Transparent"
            android:exported="true">
            <intent-filter android:autoVerify="true" tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="share.halloapp.com"/>
                <data android:scheme="https" android:host="share.halloapp.com"/>
                <data android:scheme="http" android:host="share-test.halloapp.com"/>
                <data android:scheme="https" android:host="share-test.halloapp.com"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FlatCommentsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.settings.SettingsPrivacy"
            android:theme="@style/AppTheme"
            android:label="@string/settings_privacy"/>

        <activity
            android:name=".ui.settings.SettingsNotifications"
            android:theme="@style/AppTheme"
            android:label="@string/notifications"/>

        <activity
            android:name=".ui.settings.SettingsProfile"
            android:label="@string/title_profile"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".ui.camera.CameraActivity"
            android:label="@string/camera_post"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.Camera"/>

        <activity
            android:name=".ui.mediapicker.MediaPickerActivity"
            android:theme="@style/AppTheme.MediaPickerActivity"
            android:label="@string/gallery"/>

        <activity
            android:name=".ui.PostSeenByActivity"
            android:label=""/>

        <activity
            android:name=".ui.PostContentActivity"
            android:theme="@style/AppTheme.PostContentActivity"
            android:label=""/>

        <activity android:name=".ui.AppExpirationActivity"
            android:label="" />

        <activity android:name=".ui.avatar.AvatarPreviewActivity"
            android:theme="@style/AppTheme.Black"
            android:label="@string/avatar_picker_title" />

        <activity android:name=".ui.mediaexplorer.MediaExplorerActivity"
            android:theme="@style/AppTheme.Black.Translucent"
            android:label="" />

        <activity android:name=".ui.mediaexplorer.AlbumExplorerActivity"
            android:theme="@style/AppTheme.Chat"
            android:label="" />

        <activity android:name=".ui.avatar.ViewAvatarActivity"
            android:theme="@style/AppTheme.Black.Translucent"
            android:label="" />

        <activity android:name=".ui.mediaedit.MediaEditActivity"
            android:theme="@style/AppTheme"
            android:label=""/>

        <receiver
            android:name=".registration.SmsVerificationReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Notifications$DeleteNotificationReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".Notifications$MessageReplyReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".Notifications$MarkReadReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver android:name=".calling.calling.CallNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.halloapp.calling.CallNotificationBroadcastReceiver.DECLINE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.halloapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".util.logs.LogProvider"
            android:authorities="com.halloapp.util.logs.LogProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name=".PushMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <service android:name=".HuaweiMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <service
            android:name=".calling.calling.CallService"
            android:foregroundServiceType="phoneCall|microphone"
            android:enabled="true"
            android:exported="false">
        </service>

        <service android:name=".calling.calling.HaTelecomConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <service android:name=".contacts.ContactSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts" />
        </service>

        <service android:name=".contacts.AccountAuthenticatorService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" />
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false" />

        <meta-data android:name="io.sentry.dsn" android:value="https://aa7891a9990547e4a4adf4b963e5c370@sentry.halloapp.net/6298423" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="0.1" />
        <meta-data android:name="io.sentry.auto-init" android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
        </provider>


    </application>

</manifest>
